In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv("/home/gvisona/Projects/SelfPeptides/processed_data/Immunogenicity/Processed_TCell_IEDB_beta_summed.csv")
df

,Peptide,HLA,Qualitative Measurement,Peptide length,Number of Subjects Tested,Number of Subjects Positive,Alpha,Beta
0,CYTWNQMNL,HLA-A24:02,Positive,9,84.0,60.0,61.0,25.0
1,GYDQIMPKK,HLA-A24:02,Positive,9,2.0,2.0,3.0,1.0
2,YLSGANLNL,HLA-A02:01,Positive,9,8.0,6.0,7.0,3.0
3,QYSWFVNGTF,HLA-A24:02,Positive,10,12.0,5.0,6.0,8.0
4,TYACFVSNL,HLA-A24:02,Positive,9,12.0,5.0,6.0,8.0
...,...,...,...,...,...,...,...,...
28295,RLLEQKVEL,HLA-A02:01,Positive-Low,9,12.0,3.0,4.0,10.0
28296,HLVDEAHCLRL,HLA-A02:01,Positive-Low,11,12.0,3.0,4.0,10.0
28297,QLVDIIEKV,HLA-A02:01,Positive,9,12.0,6.0,7.0,7.0
28298,ALSNLEVKL,HLA-A02:01,Positive,9,12.0,5.0,6.0,8.0
28299,TLFDYEVRL,HLA-A02:01,Positive-Low,9,12.0,3.0,4.0,10.0

In [3]:
viral_df = pd.read_csv("../processed_data/mmseqs_searches/viral_proteins.csv")
viral_df

,query,target,evalue,bitscore,query_length,frac_ident,taxid,taxname
0,AFLTNVPYKRIEELL,Q9QR98,0.000162,37,15,1.000,11908,Human T-cell leukemia virus type I
1,AFLTNVPYKRIEELL,Q9DTK6,0.000162,37,15,1.000,194440,Primate T-lymphotropic virus 1
2,AFLTNVPYKRIEELL,A0A8F7GK75,0.000162,37,15,1.000,11908,Human T-cell leukemia virus type I
3,AFLTNVPYKRIEELL,Q85611,0.000162,37,15,1.000,11908,Human T-cell leukemia virus type I
4,AFLTNVPYKRIEELL,Q86737,0.000512,36,15,0.933,36369,Simian T-lymphotropic retrovirus type 1F
...,...,...,...,...,...,...,...,...
186485,YLTVFTVYL,Q9IR54,315.300000,19,9,0.875,129724,human papillomavirus 82
186486,YLTVFTVYL,A0A2Z6BEJ1,315.300000,19,9,0.666,2731619,Caudoviricetes
186487,YLTVFTVYL,W5S519,315.300000,19,9,0.875,1450746,Pithovirus sibericum
186488,YLTVFTVYL,A0A6G9RV59,315.300000,19,9,0.750,2719442,Plasmopara viticola lesion associated mitoviru...
186489,YLTVFTVYL,A0A5B8GP39,315.300000,19,9,0.750,2599893,Rhizoctonia solani mitovirus 35

In [4]:
human_df = pd.read_csv("../processed_data/mmseqs_searches/human_proteins.csv")
human_df

            query      target  evalue  bitscore  query_length  frac_ident
0       APQPVRIDN      Q8IY63   13.13        20             9       0.875
1       APQPVRIDN  A0A804HL50   19.37        19             9       0.750
2       APQPVRIDN      Q86XX4   19.37        19             9       0.750
3       APQPVRIDN  A0A3B3ITH4  135.70        17             9       0.714
4       APQPVRIDN  A0A2R8Y752  200.50        17             9       0.625
...           ...         ...     ...       ...           ...         ...
186460  YLIELIDRV      Q5JV98   42.16        18             9       0.875
186461  YLIELIDRV      H0Y630   42.16        18             9       0.875
186462  YLIELIDRV      Q8NBY1   42.16        18             9       0.875
186463  YLIELIDRV      Q9P289   42.16        18             9       0.875
186464  YLIELIDRV      Q9Y6E0   42.16        18             9       0.875

[186465 rows x 6 columns]

In [6]:
viral_df[viral_df["query"]=="CYTWNQMNL"]

,query,target,evalue,bitscore,query_length,frac_ident,taxid,taxname
12410,CYTWNQMNL,A0A6G5XP75,30.73,22,9,0.750,1302848,Chickpea chlorosis Australia virus
12411,CYTWNQMNL,A0A6J7XEY8,66.71,21,9,0.750,2100421,uncultured Caudovirales phage
12412,CYTWNQMNL,A0A679F269,66.71,21,9,0.714,2692147,Biston robustus cypovirus
12413,CYTWNQMNL,A0A516KYF8,98.33,20,9,0.833,2591644,Prokaryotic dsDNA virus sp.
12414,CYTWNQMNL,A0A346BLP0,98.33,20,9,0.714,1172196,Chicken calicivirus
12415,CYTWNQMNL,A0A1L6KWC6,98.33,20,9,0.714,11974,Caliciviridae
12416,CYTWNQMNL,A0A1L3KKP7,145.00,20,9,0.714,1923469,Shuangao insect virus 8
12417,CYTWNQMNL,A0A9E7TV77,145.00,20,9,0.714,2927290,Arthrobacter phage Uzumaki
12418,CYTWNQMNL,A0A220QTE5,145.00,20,9,0.714,2018500,Solenopsis invicta virus 4
12419,CYTWNQMNL,A0A8E7L620,145.00,20,9,0.714,2794513,Luscinia cyane parvoviridae sp.

In [7]:
human_df[human_df["query"]=="CYTWNQMNL"]

           query      target    evalue  bitscore  query_length  frac_ident
13887  CYTWNQMNL  A0A1W2PR07   0.08592        26             9       0.888
13888  CYTWNQMNL      H0Y3F0   0.08592        26             9       0.888
13889  CYTWNQMNL      P19544   0.08592        26             9       0.888
13890  CYTWNQMNL      J3KNN9   0.08592        26             9       0.888
13891  CYTWNQMNL  A0A1W2PQQ0   0.08592        26             9       0.888
13892  CYTWNQMNL      H0Y7K5   0.08592        26             9       0.888
13893  CYTWNQMNL  A0A0A0MT54   0.08592        26             9       0.888
13894  CYTWNQMNL      Q8N4B4  62.22000        18             9       0.714
13895  CYTWNQMNL  A0A2U3TZT7  62.22000        18             9       0.714
13896  CYTWNQMNL  A0A8I5KWV8  62.22000        18             9       0.714